/* Estilos generales */
.admin-panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Información del usuario */
.user-info {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.user-info h2 {
    font-size: 18px;
    font-weight: bold;
}

.user-info p {
    margin-top: 8px;
}

/* Botones de selección de mes */
.month-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.month-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #1DE022;
    /* Verde claro */
    color: white;
    cursor: pointer;
}

.month-button.active {
    background-color: #16B017;
    /* Verde más fuerte */
}

.month-button:hover {
    background-color: #16B017;
    /* Verde más fuerte al pasar el mouse */
}

/* Gráficas */
.charts {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

.chart-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .1);
}