.admin-panel {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.user-info {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.month-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.month-button {
    padding: 12px;
    border-radius: 10px;
    background-color: #1DE022;
    color: white;
    border-color: #ffffff;
}

.month-button.active {
    background-color: #16B017;
}

.charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.chart-container {
    background-color: #ffffff;
}
